#prescription h3{
	background-color: #bbb;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 4px;
}
#prescription span{
	text-decoration: underline;
	margin-right: 15px;
	font-size: 16px;
	color: #333;
	text-underline-offset: 7px;
}
.star{
	color: #FFA500;
}